body{
    background-color: rgba(87, 58, 94, 0.281);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button{
    display: inline-block;
    width: 80px;
    top: 20px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 40px 5px antiquewhite;
    font-size: 12px;
    font-family: cursive;
    color: azure;
    background-color: rgba(255, 255, 224, 0.103);
    border: none;
    
}
button:hover{
    box-shadow: 0px 0px 40px 5px gold ;

}

div.logy{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start;
    height: 40px;
    background-color: rgb(0, 0, 0);

}

div.tema{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(103, 93, 124);
    margin-left: 25%;
    height: 40%;
    border-style: groove;
    border: 4px groove rgb(255, 197, 139);
    
  
}

div.ser{
    position: relative;
    background-color: rgb(103, 93, 124);
    width: 34.5%;
    height: 50%;
    color: seashell;
    border: 5px double rgb(236, 205, 101);
    margin-left: 13%;
    padding: 5px;

}

div.sera{
    position: relative;
    background-color: rgb(103, 93, 124);
    width: 34.5%;
    height: 50%;
    color: seashell;
    border: 5px double rgb(236, 205, 101);
    margin-left: 60%;
    padding: 5px;
}

div.zera{
    position: relative;
    background-color: rgb(103, 93, 124);
    width: 26%;
    height: 50%;
    color: seashell;
    border: 5px double rgb(236, 205, 101);
    margin-left: 15%;
    padding: 5px;
}

div.zer{
    position: relative;
    background-color: rgb(103, 93, 124);
    width: 30%;
    height: 50%;
    color: seashell;
    border: 5px double rgb(236, 205, 101);
    margin-left: 60%;
    padding: 5px;
}




div.semi > p{

    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 45, 85);
}

div.semi{
    position: static;
    background-color: bisque;
    height: 120%;
}

div.final{
    position: static;
    background-color: rgb(103, 93, 124);
}

h4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: cornsilk;

}
div.fin{
    background-color: black;
    color: cornsilk;
    text-align: center;
}

#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}
#menu{
    margin-left: -2px;
}
   
 
#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(236, 205, 101); 
    font-size: 30px; 
    list-style-type: none;
}

#menu ul li:hover {
    background-color: rgba(255, 217, 0, 0.644);
}
   

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
}
   
  
   
#menu ul ul li {
    float:none;
    width:250px
}
   

   
#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}
   

   
#menu ul li:hover > ul {
    display:block;
    box-shadow: 0px 0px 40px 5px gold ;
}
